<h1>Blog</h1>
<%= render partial: "layouts/navbar" %>
<p>Running is a form of exercise. There is a lot of people who do run to stay active.
There is other people who like to run because it is a stress reliever, or just to get outside.
There is many different reasons for running or to start running, what is yours?</p>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<% end %>
