<h1>About</h1>
<%= render partial: "layouts/navbar" %>

<p>
    Ready to Run is designed to help those who would like to start running.
    If you are already a runner, it can help you get better a running by useful tricks used by other runners.
</p>