.label
{
  padding: 10px;
  display: block;
}

.field
{
  margin-left: 10px;
  margin-bottom: 10px;
  display: block;
}

.signup-label
{
  @extend .label;
}

.signup-field
{
   @extend .field;
}

.login-label
{
   @extend .label;
}

.login-field
{
   @extend .field;
}